<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/kaboom.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Rhythmism is a web rhythm game." />

    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json" />

    <!--
      GitHub Corners. See https://github.com/remarkablemark/github-corners
    -->
    <% if (process.env.BUNDLE !== 'true') { %>
    <script
      src="https://unpkg.com/github-corners/dist/embed.min.js"
      data-href="https://github.com/remarkablegames/rhythmism"
      data-target="_blank"
      async
      defer
    ></script>
    <style>
      .github-corner > svg {
        opacity: 0.6;
        transition: opacity 0.4s;
      }
      .github-corner:hover > svg {
        opacity: 1;
      }
    </style>
    <% } %>

    <title>Rhythmism | remarkablegames</title>
  </head>
  <body>
    <script type="module">
      import kaboom from 'kaboom'
      kaboom()
    </script>
    <script type="module" src="src/index.ts"></script>
  </body>
</html>
