<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🎶</text></svg>"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="🎶 Rhythmism is a web rhythm game." />
    <meta
      property="og:image"
      content="https://remarkablegames.org/rhythmism/screenshots/sinbad1.png"
    />

    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json" />

    <!--
      GitHub Corners. See https://github.com/remarkablemark/github-corners
    -->
    <% if (process.env.BUNDLE !== 'true') { %>
    <script
      src="https://unpkg.com/github-corners/dist/embed.min.js"
      data-href="https://github.com/remarkablegames/rhythmism"
      data-target="_blank"
      async
      defer
    ></script>
    <style>
      .github-corner > svg {
        opacity: 0.6;
        transition: opacity 0.4s;
      }
      .github-corner:hover > svg {
        opacity: 1;
      }
    </style>
    <% } %>

    <title>Rhythmism | remarkablegames</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to play this game.</noscript>
    <script type="module">
      import kaboom from 'kaboom';

      kaboom({
        background: [255, 255, 255],
        width: 360,
        height: 480,
      });
    </script>
    <script type="module" src="src/main.ts"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window['ga-disable-%VITE_GOOGLE_ANALYTICS_ID%'] = %DEV%;
      window.dataLayer = window.dataLayer || [];
      window.gtag = function () {
        dataLayer.push(arguments);
      };
      gtag('js', new Date());
      gtag('config', '%VITE_GOOGLE_ANALYTICS_ID%');
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=%VITE_GOOGLE_ANALYTICS_ID%"
    ></script>
  </body>
</html>
